span.space{
    margin:0px 5px 10px 5px
}
.footer-cont{
    text-align: center;
    margin-top: 5px;
}
h5,strong{
    font-size: 12px;
}
div#nav-footer a{
    color: white;
    text-decoration: none;
}
a.footer-container{
    color: white;
    text-decoration: none;
   
}
a.footer-container:hover{
    color:white
}


@media only screen and (-moz-min-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2/1), 
       only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min-device-pixel-ratio: 2) {
        .footer-container{
            image-resolution: from-image 192dpi;
        }
}   